@import "tailwindcss";

@theme {
  --breakpoint-xs: 375px;
  --color-primary: #000000;
  --color-secondary: #0000006d;
  --color-primaryGray: #fafafa;
  --color-secondaryGray: #e0e0e0;
  --font-sans: var(--font-inter);
  --font-mono: var(--font-dm-mono);
}

* {
  box-sizing: border-box;
}

@layer base {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}

html,
body {
  font-family: var(--font-inter), "Inter", sans-serif;
  color: #666666;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  font-size: 14px;
}

.text-gray {
  color: #0000004d;
}
